<br>
<br>
<br>
<h3 style="text-align: left; color: black">
    <b>PRODUCT LIST</b>
</h3>
<table class="table table-bordered table-striped">
    <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Count</th>
        <th></th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>
                <a href="@Url.Action("Edit", "Product", new {@param_ProductID=@Model.Rows[i][0] })">Edit</a>
                <a onclick="return confirm('Are you sure you want to delete ?')" href="@Url.Action("Delete", "Product", new {@param_ProductID=@Model.Rows[i][0] })">Delete</a>
            </td>
        </tr>
    }
</table>
@if (Model.Rows.Count == 0)
{
    <h4 style="text-align: center; color: red">
        No data found
    </h4>
}
<a href="@Url.Action("Create","Product")">Add Product</a>